/*
@mixin colum {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
*/
body section {
  position: relative;
}

body section > img {
  height: 40px;
  margin: 20px 0;
}

body section p {
  margin-top: 20px;
}

body section .file--loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 50px 0 70px;
  border: 2px solid #7638FF;
  border-radius: 20px;
  position: relative;
  width: 400px;
  height: 150px;
}

body section .file--loader input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  opacity: 0;
  width: 400px;
  height: 149px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

body section .file--loader p {
  color: rgba(135, 92, 255, 0.5);
}

body section .file--loader .loading {
  color: #7638FF;
}

body section button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border: none;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  background-color: #7638FF;
  position: absolute;
  bottom: 0px;
}

body section .btn_back {
  left: 102px;
}

body section .btn_back img {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

body section .btn_next {
  right: 102px;
}

.one {
  padding: 0 102px;
}

.one .wrap {
  margin: 40px 0 70px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 72%;
  flex-wrap: wrap;
}

.one .wrap section {
  width: 28.33333%;
  margin-right: 2.5%;
  margin-left: 2.5%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.one .wrap section {
  border-radius: 50px;
  border: solid #7638FF 2px;
  padding: 5px 25px;
  margin-bottom: 10px;
}

.one .wrap .selected {
  background-color: #7638FF;
  color: white;
}

.one .row {
  width: 100%;
}

.second {
  width: 100%;
  overflow-x: hidden;
}

.second .btn_next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 150px;
  border-radius: 45px;
  color: white;
}

.second .btn_next img {
  margin-left: 10px;
}

.second #sliders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 72%;
  margin: 40px 0 65px;
}

.second #sliders .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.second #sliders .slider p {
  margin-top: 0;
  width: 20%;
  text-align: left;
}

.second #sliders .slider p:last-child {
  text-align: right;
}

input[type=range] {
  position: relative;
  -webkit-appearance: none;
  width: 55%;
}

input[type=range]:hover:after {
  opacity: .5;
}

input[type=range]:after {
  position: absolute;
  top: -25px;
  left: 50%;
  content: attr(data-value);
  opacity: 0;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 15px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background: rgba(135, 92, 255, 0.15);
  border-radius: 5px;
}

input[type=range]::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  border-radius: 25px;
  background: #7638FF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 0;
}
/*# sourceMappingURL=hazParte.css.map */