@import 'vars';

body section {
    position: relative;

    &>img{
        height: 40px;
        margin: 20px 0;
    }

    p{
        margin-top: 20px;
    }

    .file--loader{
        @include center();
        margin: 50px 0 70px;
        border: 2px solid $color0;
        border-radius: 20px;
        position: relative;
        width: 400px;
        height: 150px;
        input{
            @include center();
            opacity: 0;
            width: 400px;
            height: 149px;
            position:absolute;
            top: 0;
            right: 0;
            z-index: 2;
        }

        p{
            color: rgba(135, 92, 255, 0.5);
        }

        .loading {
            color: $color0;
        }
    }

    button{
        @include center();
        border: none;
        border-radius: 100%;
        width: 45px;
        height: 45px;
        background-color: $color0;
        position: absolute;
        bottom: 0px;
    }

    .btn_back{
        left: 102px;
        img{
            transform: rotate(-180deg);
        }
    }

    .btn_next{
        right: 102px;
    }
}

.one {
    padding: 0 102px;
    .wrap{
        margin: 40px 0 70px;
        @include colums(3);
        width: 72%;
        flex-wrap: wrap;

        section {
            border-radius: 50px;
            border: solid $color0 2px;
            padding: 5px 25px;
            margin-bottom: 10px;
        }

        .selected{
            background-color: $color0;
            color: white;
        }
    }

    .row{
        width: 100%;
    }
}

.second{
    width: 100%;
    overflow-x: hidden;
    .btn_next{
        display: flex;
        flex-direction: row;
        width: 150px;
        border-radius: 45px;
        color: white;

        img{
            margin-left: 10px;
        }
    }

    #sliders{
        @include center();
        width: 72%;
        margin: 40px 0 65px;
        .slider{
            @include row();
            width: 100%;
            margin-bottom: 20px;
            
            p{
                margin-top: 0;
                width: 20%;
                text-align: left;
            }

            p:last-child{
                text-align: right;
            }
        }
    }
}

.thrid{
    h1{
        margin-top: 150px;
    }
}

.hands{
    background-image: url('../imgs/hands.svg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

input[type=range] {
    position: relative;
    -webkit-appearance: none;
    width: 55%;

    &:hover {
        &:after{ opacity: .5; }
    }

    &:after {
        position: absolute;
        top: -25px;
        left: 50%;
        content: attr(data-value);
        opacity: 0;        
    }
    
    &:focus {
        outline: none;
    }

    &::-webkit-slider-runnable-track {
        height: 15px;
        cursor: pointer;
        transition: 0.2s;
        background: rgba(135, 92, 255, 0.15);
        border-radius: 5px;
    }

    &::-webkit-slider-thumb {
        height: 15px;
        width: 15px;
        border-radius: 25px;
        background: $color0;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: 0;
    }
}



