@import 'vars';

body section {
    @include center();
    height: 80vh;

    &>img{
        height: 40px;
        margin: 20px 0;
    }

    p{
        margin-top: 20px;
        line-height: 129%;
        @include font-size(20);
    }

    .file--loader{
        @include center();
        margin: 50px 0 70px;
        background-color: $color0;
        border-radius: 20px;
        position: relative;
        width: 400px;
        height: 150px;

        input{
            @include center();
            opacity: 0;
            width: 400px;
            height: 149px;
            position:absolute;
            top: 0;
            right: 0;
            z-index: 2;
        }

        p{
            color: $color1;
        }

        .loading {
            color: $color1;
        }
    }

    button{
        @include center();
        border: none;
        border-radius: 100%;
        width: 45px;
        height: 45px;
        background-color: $color2;
        position: absolute;
        bottom: 0px;
    }

    .btn_back{
        left: 102px;
        bottom: 50px;
        img{
            transform: rotate(-180deg);
        }

        &:hover{
            opacity: .7;
        }
    }

    .btn_next{
        right: 102px;
        bottom: 50px;
        &:hover{
            opacity: .7;
        }
    }

    #succes{
        display: none;
        color: $color2;
        font-weight: bold;
        margin-bottom: -20px;
    }
}

.one {
    padding: 0 102px;
    .wrap{
        margin: 40px 0 70px;
        @include colums(3);
        width: 72%;
        flex-wrap: wrap;
        justify-content: flex-start;
        height: fit-content;

        section {
            border-radius: 50px;
            border: solid $color0 2px;
            padding: 5px 25px;
            margin-bottom: 10px;
            max-height: 3em;
        }

        .selected{
            background-color: $color2;
            color: white;
            border-color: $color2;
        }
    }

    .row{
        width: 100%;
    }
}

.second{
    width: 100%;
    overflow-x: hidden;
    height: 70vh;
    .btn_next{
        display: flex;
        flex-direction: row;
        width: 150px;
        border-radius: 45px;
        color: white;

        img{
            margin-left: 10px;
        }
    }

    .row{
        position: relative;
        width: 60%;
        margin-top: 30px;
        .tits{ 
            @include row();
            width: 60%;
            margin-left: 43%;
            .f{right: -2.4%;} .g{right: 10.5%;} .h{right: 23.7%;} .i{right: 37%;} .j{right: 49.7%;}
        }
    }

    #sliders{
        @include center();
        width: 60%;
        margin: 30px 0 65px;
        position: relative;
        
        .slider{
            @include row();
            width: 100%;
            margin-bottom: 20px;
            
            p{
                margin-top: 0;
                width: 20%;
                text-align: left;
            }
        }

        .tit{
            line-height: 129%;
            text-align: center;
            letter-spacing: 0.02em;
            color: $color0;
            @include font-size(16);
            position: absolute;
        }

        .mark{
            content: '';
            height: 10px;
            width: 10px;
            border-radius: 25px;
            background: #E5E5E5;
            -webkit-appearance: none;
            margin: 0;
            position: absolute;
            z-index: -2;
        }

        .e{right: 0.4%;} .d{right: 13.5%;} .c{right: 26.7%;} .b{right: 40%;} .a{right: 53.2%;}
    }
}

.thrid{
    p{
        width: 60%;
        margin-bottom: 90px;
    }
}

.hands{
    background-image: url('../imgs/hands.svg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

/////

input[type=range] {
    position: relative;
    -webkit-appearance: none;
    width: 55%;

    &:hover {
        &:after{ opacity: .5; }
    }
    
    &:focus {
        outline: none;
    }

    &::-webkit-slider-runnable-track {
        height: 5px;
        cursor: pointer;
        transition: 0.2s;
        background: #E5E5E5;
        border-radius: 5px;
    }

    &::-webkit-slider-thumb {
        height: 15px;
        width: 15px;
        border-radius: 25px;
        background: $color2;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -5px;
        transition: all 2s ease-in;
    }
}