@import 'vars';

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    @include font-size(16);
    color: $color0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    padding-bottom: 2px;
    &:hover {
        opacity: .6;
    }
}

h1{
    font-weight: 600;
    @include font-size(35);
    line-height: 119.5%;
}

html, body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

body section{
    @include center();
}

nav{
    @include center();
    @include row();
    padding: 35px 102px;

    .logo{
        margin-right: 30%;
        text-align: left;
        font-weight: bolder;
        letter-spacing: 0.02em;
        line-height: 100%;
    }

    .join{
        border-radius: 50px;
        background: linear-gradient(90deg, #FFA835 36.58%, #FF891F 94.38%);;
        padding: 5px 25px;
        color: $color1;
        font-weight: bold;
        
        &:hover {
            opacity: .6;
        }
    }

    .selected {
        color: $color2;
        font-weight: bold;
    }

    .join.selected {
        text-decoration: none;
        background: none;
        color: $color2;
        font-weight: normal;
        border: solid 2px $color2;
    }
}