@import 'vars';

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    @include font-size(16);
    color: $color0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    padding-bottom: 2px;
    &:hover {
        color: $color0;
        border-bottom: solid $color0 2px;
    }
}

h1{
    font-weight: 600;
    @include font-size(35);
    line-height: 119.5%;
}

html, body {
    height: 100vh;
    width: 100vw;
}

body section{
    @include center();
}

nav{
    @include center();
    @include row();
    padding: 35px 102px;

    .logo{
        margin-right: 30%;
        text-align: left;
        font-weight: 800;
        letter-spacing: 0.02em;
        line-height: 100%;
    }

    .join{
        border-radius: 50px;
        border: solid $color0 2px;
        padding: 5px 25px;

        &:hover {
            text-decoration: none;
            background-color: $color0;
            color: white;
        }
    }

    .selected {
        color: $color0;
        border-bottom: solid $color0 2px;
        font-weight: bold;
    }

    .join.selected {
        text-decoration: none;
        background-color: $color0;
        color: white;
        font-weight: normal;
    }
}