@import 'vars';

body {
    background-image: url('../imgs/shapes.svg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80vh;

        p{
            margin-top: 10px; 
            width: 45%;
            margin-bottom: 70px;
            @include font-size(19);
            line-height: 129%;
            letter-spacing: 0.02em;
        }

        .row {
            margin-bottom: 10px;
            img{
                margin: 0 30px;
                height: 30px;
            }
        }

        #second {
            img{
                margin: 0 5px;
            }
        }

        :last-child{
            margin-bottom: 0;
        }

    }

}